*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(4, 4, 27);
    color:aliceblue
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden1{
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.hidden2{
    display: grid;
    place-items: left;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

.hidden3{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}